<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated programme -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="StudyProgramme.presentation.StudyProgrammeModelWizardID"
            name="%_UI_StudyProgrammeModelWizard_label"
            class="StudyProgramme.presentation.StudyProgrammeModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/StudyProgrammeModelFile.gif">
         <description>%_UI_StudyProgrammeModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated programme -->
      <editor
            id="StudyProgramme.presentation.StudyProgrammeEditorID"
            name="%_UI_StudyProgrammeEditor_label"
            icon="icons/full/obj16/StudyProgrammeModelFile.gif"
            extensions="studyprogramme"
            class="StudyProgramme.presentation.StudyProgrammeEditor"
            contributorClass="StudyProgramme.presentation.StudyProgrammeActionBarContributor">
      </editor>
   </extension>

</plugin>
